body{
  color: #8f96af;
  background-color: #171921;
}
.h1,.h2,.h3,.h4,.h5,.h6,
h1,h2,h3,h4,h5,h6{
    color: #fff !important;
}
/*
      ============================================================
           Default Color Start
      ============================================================
*/
.social-box:hover,
.slick-custom-arrows *,
.section-heading-2::after,
.box-arrows  .slick-arrow,
.osr-footer-2 .social-list li a:hover,
 .title:hover > a,
 .form-control:focus,
 .navigation li.active > a,
 .navigation li:hover > a,
 .contac-list li:hover > a,
  .widget_categories ul li:hover, .widget_nav_menu ul li:hover > a,
 .th-cl{
  color: #f9603e
}
/*
      ============================================================
           Default Background Color Start
      ============================================================
*/
.slick-custom-arrows:hover,
.oscar-header-4 .navigation li a::after,
 .btn.th-bdr:hover,
 .slide-count-wrap::before,
 .box-arrows .slick-arrow:hover,
 .dot-style-1 .slick-dots li.slick-active,
 .newsletter-widget .search-icon .btn:hover,
 .working-brand .working-brand-thumb:nth-child(even),
 .widget_categories ul li:hover::before, .widget_nav_menu ul li:hover > a::before,
 .th-bg{
    background-color: #f9603e 
}
/*
      ============================================================
           Default Border Color Start
      ============================================================
*/
.btn.th-bg,
.box-arrows  .slick-arrow,
.slick-nav-style .slick-dots li,
.form-control:focus,
.slick-custom-arrows:hover,
.newsletter-widget .search-icon .btn:hover,
.th-bdr{
    border-color: #f9603e
}
.btn{
  --box-shadow-color: #f9603e;
}
/*
      ============================================================
           Second Background Color Start
      ============================================================
*/

.gray-bg{
    background-color:#1e202b/* #ebebea */;
}

{
  border-color:#1e202b/* #ebebea */;
}
