/*
      ============================================================
           Default Color Start
      ============================================================
*/
.social-box:hover,
.slick-custom-arrows *,
.section-heading-2::after,
.box-arrows  .slick-arrow,
.osr-footer-2 .social-list li a:hover,
 .title:hover > a,
 .form-control:focus,
 .navigation li.active > a,
 .navigation li:hover > a,
 .contac-list li:hover > a,
 .newsletter-widget .p-absolute:hover::before,
.dot-style-1 .slick-dots li.slick-active::before,
.widget_categories ul li:hover, .widget_nav_menu ul li:hover > a,
.comment-list .media-body .reply,
 .th-cl{
  color: #52009f
}
/*
      ============================================================
           Default Background Color Start
      ============================================================
*/
blockquote,
.slick-custom-arrows:hover,
.oscar-header-4 .navigation li a::after,
 .btn.th-bdr:hover,
 .oscar-tab li a::after,
 .slide-count-wrap::before,
 .box-arrows .slick-arrow:hover,
 .dot-style-1 .slick-dots li.slick-active,
 .newsletter-widget .search-icon .btn:hover,
 .working-brand .working-brand-thumb:nth-child(even),
 .widget_categories ul li:hover::before, .widget_nav_menu ul li:hover > a::before,
 .th-bg{
    background-color: #52009f 
}
/*
      ============================================================
           Default Border Color Start
      ============================================================
*/
.btn.th-bg,
.box-arrows  .slick-arrow,
.slick-nav-style .slick-dots li,
.form-control:focus,
.slick-custom-arrows:hover,
.newsletter-widget .search-icon .btn:hover,
.th-bdr{
    border-color: #52009f
}

.btn{
  --box-shadow-color: #52009f;
}

/*
      ============================================================
           Default Transition Start
      ============================================================
*/
a,
label,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
input,
.btn,
.blog,
figure,
.title,
.tags a,
.title a,
textarea,
.social-box,
.social-box *,
.slick-arrow,
.box-icon-1,
.navigation a,
.slick-dots li,
.slick-dots li::before,
.work-thumb figure::after,
.work-thumb figure figcaption,
.p-absolute:hover::before,
.slick-nav-style > ul > li,
.social-list li a{
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
/*
      ============================================================
           Second Background Color Start
      ============================================================
*/

.gray-bg{
    background-color:#f8f7f9/* #ebebea */;
}

{
  border-color:#f8f7f9/* #ebebea */;
}
