
/*
=================================================
				UP FROM 1200PX
=================================================
*/ 
@media (min-width: 1367px) and (max-width: 1680px) {
}
/*
=================================================
				UP FROM 1200PX
=================================================
*/ 
@media (min-width: 1200px) and (max-width: 1366px) {
	
}
/*
=================================================
			FROM 992PX TO 1199PX
=================================================
*/ 
@media (min-width: 992px) and (max-width: 1199px) {
	.static-main-banner .banner-caption-wrap {
	    padding: 105px 0 110px;
	}
	.static-main-banner .banner-title{
		font-size: 40px;
	}
	.aboutus-caption .box-icon-1{
		padding: 15px;
	}
	.aboutus-caption .tab-fancy-heading{
		font-size: 30px;
	}
	.aboutus-caption .c-hidden{
		display: none;
	}
	.aboutus-caption > p{
		float: left;
		width: 100%;
		max-height: 85px;
		overflow: hidden;
	}
	.counter-bg .section-heading-2 .title{
		font-size: 44px;
	}
	.counter-bg .counter-caption{
		font-size: 15px;
	}
	.counter-title{
		font-size: 16px;
		line-height: 16px;
	}
	.working-brand-thumb{
		padding: 15px;
	}
	.working-brand-thumb .title{
		font-size: 24px;
	}
	.tab-caption{
		padding: 0;
	}
	.tab-caption .c-hidden{
		display: none;
	}
	.tab-caption-2{
		padding: 58px 50px;
	}
	.tab-caption-2 .tab-fancy-heading{
		font-size: 30px;
	}
	.oscar-skills{
		padding-left: 50px;
		padding-right: 50px;
	}
	.col-md-6 .section-heading-2 .title{
		font-size: 48px;
	}
	.testimonial-caption .title {
	    font-size: 24px;	
	}
	.blog-caption {
    	padding: 17px 40px 21px;
    }
    .blog-admin-det{
    	padding-top:24px; 
    	padding-bottom:16px; 
    }
    .widget_about, .widget_contact{
    	padding-right:0;
    }
    .osr-footer-2 .widget-title .title{
    	font-size: 16px;
    }
}
/*
=================================================
			FROM 0PX TO 979PX
=================================================
*/ 
@media (max-width: 991px) {
	.oscar-header-4 .mean-container .mean-nav {
	    right: 0;
	    top: 100%;
	    left: auto;
	    margin:34px 0 0;
	    min-width: 290px;
	    position: absolute;
	}
	.oscar-header-4 .menu-holder {
	    padding:4px 0;
	}
	.static-main-banner .banner-caption-wrap{
		padding: 45px 0 50px;
	}
	.static-main-banner .banner-small-title{
		font-size: 28px;
	}
	.static-main-banner .banner-title{
		font-size: 36px;
		line-height: 36px;
	}
	.static-main-banner .banner-caption{
		font-size: 16px;
	}
	.static-main-banner .btn{
		min-width: 175px;
	}
	.counter-bg .counter-caption{
		margin: 0 0 30px;
	}
	.counter-bg .counter-thumb{
		padding: 0;
		text-align: center;
		margin: 0 0 30px;
	}
	.counter-bg .counter-thumb .title{
		float: none;
		display: inline-block;	
	}
	.oscar-skills .title{
		font-size: 36px;
	}
	.oscar-skills{
		padding: 47px 50px 15px
	}
	.tab-caption-2{
		padding: 50px;
	}
	.oscar-chart{
		width: 120px;
		height: 120px;
	}
	.circle-progress h5{
		font-size: 16px;
	}
	.slick-nav-style li.slick-slide, .slick-nav-style > ul > li{
		padding-left:15px; 
		padding-right:15px; 
	}
	.slick-nav-style .slick-dots li{
		margin: 0 8px;
	}
	.work-slider-nav li{
		padding: 0 15px;
	}
	.box-arrows .slick-arrow, .slick-custom-arrows{
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.testimonial-caption .title{
		font-size: 23px;
	}
	.testimonial-thumb.mt-min-185{
		margin-top:0 !important; 
	}
	.blog-admin-det{
		padding: 14px 15px 6px;
	}
	.blog-caption {
	    padding: 17px 15px 12px;
	}
	.blog-caption .title{
		font-size: 22px;
	}
	.blog-caption p{
		margin-bottom: 15px; 
		max-height: 28px;
		overflow: hidden;
	}
	.contact-form{
		z-index: 1;
	}
	.contact-section-map{
		opacity: .3;
		width: 30%;
	}
	.widget_about, .widget_contact{
		padding: 0;
	}
	.widget{
		min-height: 240px;
	}
}

/*
=================================================
			FROM 768PX TO 979PX
=================================================
*/

@media (min-width: 768px) and (max-width: 979px) {
	
  
}
/*
=================================================
			FROM 0PX TO 767PX
=================================================
*/
@media (max-width: 767px) {
	.oscar-tab{
		margin: 0 0 30px;
	}
	.oscar-tab li a {
	    font-size: 14px;
	    margin: 0 0 15px;
	    padding: 0 9px;
	}
	.oscar-tab li a::after, .oscar-tab li a::before{
		top: calc(100% + 15px);
	}
	.tab-simple-heading{
		font-size: 32px;
	}
	.tab-caption-2 {
		padding: 30px;
	}
	.tab-caption-2 .tab-fancy-heading{
		font-size: 32px;
	}
	ul.oscar-tab-2,
	.slick-nav-style ul{
		padding: 15px 0;
	}
	.slick-nav-style li.slick-slide, .slick-nav-style > ul > li,
	.oscar-tab-2 li a{
		padding: 6px 10px 5px
	}
	.oscar-skills {
	    padding: 27px 30px 5px;
	}
	.oscar-skills .title {
	    font-size: 24px;
	}
	.circle-progress{
		margin: 0 0 30px;
	}
	.work-thumb figcaption h4 {
	    font-size: 24px;
	}
	.work-slider .slick-list .slick-center figure > img {
	    transform: translateX(50px);
	    -o-transform: translateX(50px);
	    -ms-transform: translateX(50px);
	    -moz-transform: translateX(50px);
	    -webkit-transform: translateX(50px);
	}
	.work-slider.box-arrows .slick-prev {
	    left: 2%;
	}
	.work-slider.box-arrows .slick-next {
	    right: 2%;
	}
	.testimonial-thumb > img{
		display: none;
	}
	.testimonial-thumb > div{
		max-width: 100px;
		float: none;
		display: block;
		margin: 0 auto;
	}
	.section-heading-2 .title {
	    font-size: 40px;
	    line-height: 50px;
	}
	.section-heading-2 .small-title{
		font-size: 25px;
		line-height: 25px;
	}
	.brand-wrap li:last-child > [class*="col-"],
	.brand-wrap li > [class*="col-"]{
		/*float: left;
		width: 100%;*/
		border-width:1px !important;
	}
	.blog-caption {
	    padding: 22px 20px 17px;
	}
	.blog-admin-det {
	    padding: 19px 20px 11px;
	}
	.widget {
	    min-height: inherit;
	}
	.sub-banner{
		padding: 46px 0 42px;
	}
}
/*
=================================================
			FROM 0PX TO 0PX
=================================================
*/
@media (min-width: 732px) and (max-width: 738px) {
	
}
@media (max-width: 530px) {
	
}
/*
=================================================
			FROM 0PX TO 0PX
=================================================
*/
@media (max-width: 480px) {
	.blog-detail .detail-title {
	    font-size: 22px;
	}
	.comment-list .media figure {
	    display: block;
	    margin: 0 auto 30px;
	    float: none;
	}
	.comment-list .media-body{
		text-align: center;
	}
	.comment-list ul.children{
		padding: 0;
	}
	.static-main-banner .banner-caption-wrap {
	    padding: 5px 0 10px;
	}
	.static-main-banner .banner-small-title {
	    font-size: 24px;
	}
	.static-main-banner .banner-title {
	    font-size: 26px;
	    line-height: 30px;
	}
	.static-main-banner .btn {
	    min-width: auto;
	    padding-left: 25px;
	    padding-right: 24px;
	    font-size: 14px;
	}
	.banner-caption-wrap > .btn:last-of-type {
	    margin-left: 18px;
	}
	footer, .section, section {
	    padding: 58px 0 30px;
	}
	.aboutus-caption .tab-fancy-heading{
		font-size: 22px;
	}
	.section-heading-2 .title {
	    font-size: 32px;
	    line-height: 40px;
	}
	.copy-right{
		text-align: center;
	}
	.copy-right > [class*="pull-"]{
		width: auto;
		float: none !important;
		display: inline-block;
	}
	.contact-form .input-field.text-left{
		text-align: center
	}
	[class*="col-"]{
		float: left;
		width: 100%;
		position: relative;
	}
	.work-slider .slick-list {
	    width:100%;
	    margin-left: 0;
	    padding:  0 !important;
	}
	.work-slider .slick-list .slick-slide {
	    padding: 0 15px 0;
	}
	.work-thumb figure img{
		transform: translate(0);
		-o-transform: translate(0);
		-ms-transform: translate(0);
		-moz-transform: translate(0);
		-webkit-transform: translate(0);
	}
	.work-thumb figcaption{
		opacity: 1;
		position: static;
		transform: translate(0);
		-o-transform: translate(0);
		-ms-transform: translate(0);
		-moz-transform: translate(0);
		-webkit-transform: translate(0);
		float: left;
		width: 100%;
		padding: 25px 15px 0;
	}
	.work-thumb figcaption .work-case{
		margin: 0;
	}
	.work-thumb figcaption h4 {
	    font-size: 20px;
	}
	.slick-nav-style ul.slick-slider.slick-dotted {
		    width: calc(100% - 15%);
		}
	.slick-nav-style .slick-dots {
	    max-width: 10%;
	    right: -11%;
	    height: 104px;
	}
	.slick-nav-style .slick-dots li {
		float: left;
		clear: both;
	    margin: 8px 0;
	}
	ul.row{
		float: none;
		width: auto;
	}
	.tab-caption-2 .tab-fancy-heading {
	    font-size: 19px;
	    padding-left: 15px; 
	    padding-right: 15px; 
	}
	.working-brand-thumb {
	    padding: 10px;
	    width: calc(100% - 15px);
	}
	.working-brand-thumb .title {
	    font-size: 20px;	    
	    margin: 0 0 21px;
	}
	.working-brand-thumb .thumb {
	    margin-right: 15px;
	}
	.oscar-tab{
		text-align: center;
	}
	.oscar-tab li{
		margin: 0 0 15px;
		padding: 0 15px;
	}
}
@media (max-width: 382px) {
	
}





