/* #PRELOADER  ============================================== */
/* This only works with JavaScript, 
if it's not present, don't show loader */
#loader-overflow{
  display:block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fefefe;
  z-index: 99999;   
}
.loader-cont{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loader3 {
  will-change: transform;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background-color: #b6b6b7;
  border-radius: 50%;  
  -webkit-animation: scaleout 1.1s infinite ease-in-out;
  animation: scaleout 1.1s infinite ease-in-out;
  
  text-indent: -99999px;
  z-index: 999991;
}
@-webkit-keyframes scaleout {
  0% { 
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
@keyframes scaleout {
  0% { 
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
#notification_container{
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    width: 320px;
    text-align: center;
    margin: 0 auto;
    z-index: 99;
}

/*
==============================================================
    SECTION HEADING CSS START
==============================================================
*/
.simple-heading{
    float: left;
    width: 100%;
    font-size: 24px;
    margin: 0 0 24px;
}


/**/
.section-heading-2{
    float: left;
    width: 100%;
    margin:0 0 60px;
    position: relative;
}
.section-heading-2::before{
    left: 0;
    right: ;
    bottom: 0;
    width: 70%;
    height: 2px;
    content: "";
    max-width:200px;
    position: absolute;
    background-color: #002240;
}
.section-heading-2::after {
    bottom: 0;
    left: 210px;
    right: auto;
    width: 30%;
    color: red;
    height: 2px;
    display: table;
    content: "....";
    max-width: 34px;
    font-size: 24px;
    line-height: 2px;
    position: absolute;
    letter-spacing: 5px;
    vertical-align: middle;
}
.section-heading-2 .small-title{
    float: left;
    width: 100%;
    color:#909090;
    margin: 0 0 17px;
    font-size: 30px;
    line-height: 30px;
}
.section-heading-2 .title{
    font-size: 50px;
    margin: 0 0 17px;
    font-weight:bold; 
    line-height: 60px;
}
.section-heading-2 .title .w-400{
    font-weight: 400;
}
.section-heading-2 .title:last-child{
    margin: 0 0px 17px;
}




.tab-fancy-heading{
    float: left;
    width: 100%;
    font-size: 36px;
    font-weight: 600;
    margin: 0;
    border-left: 4px solid;
    padding: 9px 30px 1px;
}











.box-arrows  .slick-arrow,
.slick-custom-arrows{
    width: 74px;
    height: 74px;
    cursor: pointer;
    font-size: 24px;
    border:2px solid;
    border-radius: 0;
    line-height: 74px;
    text-align: center; 
}
.slick-custom-arrows *{
    font-size: 24px;
}
.slick-custom-arrows{
    float: left;
}
.slick-custom-arrows:last-child{
    float: right;
}
.slick-custom-arrows:hover *{
    color: #fff !important;
} 
/*Arrows Before*/
.box-arrows .slick-arrow::before{
    left: 0;
    right: 0;
    top: 50%;
    font-size: 24px;
    position: absolute;
    color:currentcolor; 
    font-family: oscarthemes;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.box-arrows  .slick-prev{
    left: 5%;
    font-size: 0;
}
.box-arrows  .slick-prev::before{
    content: '\ed82';
}
.box-arrows  .slick-next{
    right: 5%;
    font-size: 0;
}
.box-arrows  .slick-next::before{
    content: "\ed83";
}
/*Arrows On Hover*/
.box-arrows .slick-arrow:hover{
    color: #fff;
}




.social-list{
    float: left;
    width: 100%;
}
.social-list li{
    float: left;
    width: auto;
    margin: 0 0 0 15px;
}
.social-list li:first-child{
    margin-left:0; 
}
.social-list li a{
    float: left;
    width: 31px;
    height: 31px;
    color: #000;
    font-size: 14px;
    line-height: 31px;
    border-radius: 100%;
    text-align: center;
    border: 1px solid #000;
}

/*
      ============================================================
          Button Css Start
      ============================================================
*/
.submit-btn,
.btn{
    z-index: 1;
    color: #002240;
    border:none;
    line-height: 1;
    background:none;
    cursor: pointer;
    font-size: 14px;
    overflow: hidden;
    font-weight: 600;
    text-align: center;
    position: relative;
    letter-spacing: 1px;
    border-radius: 5px;
    display: inline-block;
    padding: 17px 30px 17px;
    background: transparent;
    border: 1px solid #002240;
}
.btn:hover{
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.15)
}
.btn.th-bg:hover{
    color: #002240 !important;
    background: #fff;
}
.btn.th-bdr:hover{
    color: #fff;
}
.readmore-btn{
    color: #a4a4a4;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.readmore-btn::before {
    left: 0;
    bottom: 0;
    content: '';
    right: 100%;
    height: 1px;
    position: absolute;
    background-color: #a4a4a4;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}
.readmore-btn:hover::before {
    right: 0;
}
.icon-btn::after{
    content:"\f178";
    margin: 0 0 0 10px;
    font-family: fontawesome;
}
.white-bg.btn{
    background-color: #fff;
} 
.btn-lg{
    padding-left:50px; 
    padding-right:50px; 
}
/*
      ============================================================
          Blog Meta Css Start
      ============================================================
*/
.blog-meta {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
}
.blog-meta li {
    width: auto;
    margin: 0 5px;
    line-height: 1;
    color: #393e42;
    font-size: 15px;
    position: relative;
    display: inline-block;
}
.blog-meta li:first-child {
    margin-left: 0 !important;
}
.blog-meta li:last-child {
    margin-right: 0 !important;
}
.blog-meta li i {
    margin: 0 5px 0 0;
}
.blog-meta li a {
    position: relative;
    font-weight: normal;
    display: inline-block;
    text-transform:capitalize;
}
.blog-meta li a::before{
    float: left;
    width: auto;
    content: ",";
}
.blog-meta li a:first-of-type::before{
    display: none;
}
.blog-meta li a {
    color: #778b90;
}
/*BoxShadow Start*/
.b-shadow{
    box-shadow: 0 10px 30px 0 rgba(50,50,98,0.15);
    -webkit-box-shadow: 0 10px 30px 0 rgba(50,50,98,0.15);
}

/*
      ============================================================
          Input Field Css Start
      ============================================================
*/
.form-group,
.input-field{
    float: left;
    width: 100%;
    position: relative;
    /* margin-bottom: 30px; */
}
.form-control, 
.enter-email input[type="text"]{
    float: left;
    width: 100%;
    color: #858b93;
    font-size: 14px;
    min-height: 48px;
    text-align: left;
    box-shadow: none;
    position: relative;
    -moz-appearance:none;
    padding: 2px 15px 1px;
    -webkit-appearance:none;
    border: 1px solid #dfe5ea;
    text-transform: capitalize;
    background-color: transparent;
}
textarea.form-control{
    resize: none;
    height: 110px; 
    padding-top:15px;
    /* border-radius: 30px; */
}
.form-group .form-control,
.input-field .form-control{
    margin-bottom: 0 !important;
}
/*Submit Button Css Start*/
input[type="submit"].submit-btn{
    float: left;
    width: auto;
    overflow: hidden;
    font-weight: bold;
    text-transform: uppercase;
}
input[type="submit"].submit-btn{
    border: none;
    padding: 14px 45px;
}
.form-control:-moz-placeholder { color: #bbc8ce; opacity: 1; }
.form-control::-moz-placeholder { color: #bbc8ce; opacity: 1; }
.form-control:-ms-input-placeholder {color: #bbc8ce; opacity: 1;}
.form-control::-webkit-input-placeholder {color: #bbc8ce; opacity: 1;}

/* Use a different font family for search results */
.gs-title, .gs-snippet {
    font-family: inherit;
}

/* Add a border between individual search results */
.gs-webResult {
    border: none;
    padding: 1em;
}
.gsc-above-wrapper-area-container td{
    border: none !important;
}
/* Do no display the count of search results */    
.gsc-result-info {
    /* display: none; */
}

/* Hide the Google branding in search results */
.gcsc-branding {
    display: none; 
}

/* Hide the thumbnail images in search results */
.gsc-thumbnail {
    display: none;
}
.gsc-table-cell-snippet-close{
    border: none;
}   
.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top{
    padding: 0 !important;
}
.gs-webResult.gs-result{
    border:1px solid rgba(0,0,0,0.09) ;
    box-shadow:0 1px 20px -11px rgba(0, 0, 0, 0.5) !important;
}
.gsc-webResult .gsc-result {
    padding: 30px 0 !important;
    border-color:rgba(0,0,0,0.09) !important;
    border-style:solid!important;
    border-width:1px 0 !important;
}
/* Hide the snippets in Google search results */
.gs-snippet { 
    /* display: none; */
    border: none;
}

/* Change the font size of the title of search results */
.gs-title a { 
    font-size: 16px;  
}

/* Change the font size of snippets inside search results */
.gs-snippet {
    font-size: 14px;
}

/* Google Custom Search highlights matching words in bold, toggle that */
.gs-title b, .gs-snippet b {
    font-weight: normal;
}

/* Do no display the URL of web pages in search results */
.gsc-url-top, .gsc-url-bottom {
    display: none;
}
.gcsc-branding{
    display: none;
}
/* Highlight the pagination buttons at the bottom of search results */
.gsc-cursor-page {
    font-size: 1.5em;
    padding: 4px 8px;
    border: 2px solid #ccc;
}
.gsc-adBlock{
    display: none !important
}
#contactSuccess,
#contactError,
#notification_container{
    margin: 0;
    left: 20px;
    z-index: 11;
    bottom: 20px;
    height: auto;
    position: fixed;
    max-width: 350px;
    clear: both;
    top: auto;
}
#notification_container{
/*     top: 20px;
    left: auto;
    right: 20px;
    bottom: auto;
    z-index: 9999;
    margin: 0 auto;
    position: fixed;
    max-width: 310px;
    text-align: center; */
}
#notification_container .alert-dismissable, 
#notification_container .alert-dismissible{
    margin: 0;
    z-index: 2;
    word-wrap: break-word;
    position: relative;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
}
@media (max-width: 480px) {
    #contactSuccess,
    #contactError,
    #notification_container{
        max-width: 310px;
        right: 20px;
    }
}