
/*
    ============================================================
        Sidebar Start
    ============================================================
*/
.widget{
    float: left;
    width: 100%;
}
/* Widget Title Css Start*/
.widget-title{
    float: left;
    width: 100%;
}

/*
      ============================================================
           Default Widget Start
      ============================================================
*/
.widget_rss,
.widget_meta,
.widget_pages,
.widget_archive,
.widget_nav_menu,
.widget_categories,
.widget_recent_comments,
.widget_recent_entries {
    float: left;
    width: 100%;
}
    .widget_rss ul,
    .widget_meta ul,
    .widget_pages ul,
    .widget_archive ul,
    .widget_nav_menu ul,
    .widget_categories ul,
    .widget_recent_comments ul,
    .widget_recent_entries ul {
        margin: 0;
        padding: 0;
        float: left;
        width: 100%;
        list-style: none;
    }
        .widget_rss ul li,
        .widget_meta ul li,
        .widget_pages ul li,
        .widget_archive ul li,
        .widget_nav_menu ul li,
        .widget_categories ul li,
        .widget_recent_comments ul li,
        .widget_recent_entries ul li {
            float: left;
            width: 100%;
            padding:0px;
            margin: 0px 0px;
            text-align: right;
            border-style: dashed;
            border-color: #edf1f2;
            border-width: 1px 0 0px;
            transition: all 0.3s ease-in-out;
        }
        .widget_rss ul li:first-child,
        .widget_meta ul li:first-child,
        .widget_pages ul li:first-child,
        .widget_archive ul li:first-child,
        .widget_nav_menu ul li:first-child,
        .widget_categories ul li:first-child,
        .widget_recent_comments ul li:first-child,
        .widget_recent_entries ul li:first-child{
            border-width: 0;
        }
        .widget_rss > ul > li:first-child,
        .widget_meta > ul > li:first-child,
        .widget_pages > ul > li:first-child,
        .widget_archive > ul > li:first-child,
        .widget_nav_menu > ul > li:first-child,
        .widget_recent_comments > ul > li:first-child,
        .widget_recent_entries > ul > li:first-child {
            border-width: 0;
        }
            .widget_rss ul li a,
            .widget_meta ul li a,
            .widget_pages ul li a,
            .widget_archive ul li a,
            .widget_nav_menu ul li a,
            .widget_categories ul li a,
            .widget_recent_comments ul li a,
            .widget_recent_entries ul li a {
                width: auto;
                display: block;
                font-size: 16px;
                text-align: left;
                position: relative;
                font-weight: normal;
                /* line-height: normal; */
                padding: 11px 0px 12px;
                text-transform: capitalize;
                transition: all .3s ease-in-out 
            }
            .widget_rss ul li a:hover,
            .widget_meta ul li a:hover,
            .widget_pages ul li a:hover,
            .widget_archive ul li a:hover,
            .widget_nav_menu ul li a:hover,
            /* .widget_categories ul li a:hover, */
            .widget_recent_comments ul li a:hover,
            .widget_recent_entries ul li a:hover {
                padding-left: 10px;
                padding-right: 10px;
            }

            .widget_rss ul li,
            .widget_meta ul li,
            .widget_pages ul li,
            .widget_archive ul li,
            .widget_nav_menu ul li,
            .widget_categories ul li,
            .widget_recent_comments ul li,
            .widget_recent_entries ul li,
            .widget_rss ul li a,
            .widget_meta ul li a,
            .widget_pages ul li a,
            .widget_archive ul li a,
            .widget_nav_menu ul li a,
            .widget_categories ul li a,
            .widget_recent_comments ul li a,
            .widget_recent_entries ul li a {
                color: inherit;
            }
                .widget_rss ul .children,
                .widget_meta ul .children,
                .widget_pages ul .children,
                .widget_archive ul .children,
                .widget_nav_menu ul .children,
                .widget_categories ul .children,
                .widget_recent_comments ul .children,
                .widget_recent_entries ul .children {
                    padding-left: 15px;
                    margin: 5px 0 0
                }
                .widget_archive li:hover,
                .widget_categories li:hover {
                    
                }
        .widget_categories ul li,
        .widget_nav_menu ul li{
            padding: 0;
            border: none;
            margin: 0px 0 6px;
            position: relative;
            text-align: left;
        }
        .widget_categories ul li{
            margin: 0px 0 11px;
        }
            .widget_categories ul li a,
            .widget_nav_menu ul li a{
                float: left;
                width: auto;
                margin-bottom: 0;
                padding: 0 0 0 0px;
            }
            .widget_categories ul li:before,
            .widget_nav_menu ul li a:before {
                top: 50%;
                left: 0px;
                content: "";
                width: 0px;
                height: 1px;
                position: absolute;
                background-color: #000;
                transition: all 0.3s ease-in-out;
            }
            .widget_categories ul li:hover:before,
            .widget_nav_menu ul li a:hover:before {
                width: 10px;
            }
            .widget_categories ul li:hover,
            .widget_nav_menu ul li a:hover{
                color: #000;
                padding:0 0 0 15px; 
            }
        .widget_categories ul li:last-child,
        .widget_nav_menu ul li:last-child{
            margin-bottom:0; 
        }

    
/**/



aside .widget{
    float: left;
    width: 100%;
    margin: 0 0 50px;
}
aside .widget:last-child{
    margin: 0;
}
aside .sidebar-wrap{
    float: left;
    width: 100%;
    padding-left:15px; 
}
aside .widget-title{
    margin:0 0 18px;
    font-size: 20px;
    font-weight: 500; 
    padding: 0 0 13px;
    border-bottom: 1px solid #e5e5e5;
}


.widget-about p{
    margin: 0 0 46px;
}
.widget-about p.copyright-p{
    margin: 0;
}



aside .widget_categories li a,
aside .widget_categories li {
    font-size: 15px;
}




.widget_blog ul li{
    float: left;
    width: 100%;
    margin: 0 0 30px;
}
.widget_blog ul li:last-child{
    margin: 0 0 0px;
}
.widget-recent-blog{
    float: left;
    width: 100%;
}
.widget-recent-blog figure{
    float: left;
    width: 60px;
    margin: 0 20px 0 0;
}
.widget-recent-blog .title{
    font-size: 15px;
    margin: 0 0 1px;
    font-weight: normal;
}
.widget-recent-blog .blog-meta li{
    font-size: 12px;
}








.widget-newsletter p{
    float: left;
    width: 100%;
    font-size: 14px;
    margin: 0 0 16px;
}
.widget-newsletter .input-field .form-control{
    border: none;
    border-radius: 5px;
    margin-bottom:10px !important;
    background-color: rgba(0, 0, 0, 0.15);
}
.widget-newsletter .search-icon{
    margin: 0;
    float: right;
    width: auto;
}
.widget-newsletter .btn{
    float: right;
    border-radius: 5px;
    padding:18px 40px 15px;
}
.newsletter-widget .p-absolute{
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.newsletter-widget .p-absolute{
    padding: 0 !important;
}
.newsletter-widget .p-absolute .btn{
    font-size: 0;
}
.newsletter-widget .p-absolute::before{
    left: 0;
    right: 0;
    top: 0%;
    color: #e0e0e0;
    font-size: 26px;
    content: "\ef01";
    margin-top:-17px; 
    line-height: 48px;
    position: absolute;
    text-align: center;
    font-family: oscarthemes;
}
.newsletter-widget .p-absolute .btn:hover{
    box-shadow: none;
}
.newsletter-widget .p-absolute .btn {
    margin: 0 !important;
    border:none !important;
    font-size: 0 !important;
    padding: 15px 9px !important;
    background: transparent !important;
}
.light-black-bg .widget-newsletter .input-field .form-control{
    background-color: rgba(255,255,255,0.05) !important;
}
.widget_about,
.widget_contact{
    /*padding-right:75px; */
}
.contac-list{
    float: left;
    width: 100%;    
}
.contac-list li{
    float: left;
    width: 100%;
    margin: 0 0 16px;
}
.contac-list li:last-child{
    margin-bottom: 0;
}
.contac-list li > *{
    float: none;
    font-size: 14px;
    display: inline-flex;
}
.contac-list li > [class*="fa"]{
    margin-right: 20px;
    width: 15px;
}
.contac-list li > a{
    width: calc(100% - 40px);
}